.contacts {
    margin-left: auto;
    display: flex;
   
    &__item:not(:last-child) {
            margin-right: 30px;
        }
    &__icon {
        margin-right: 10px;
        fill: currentColor;
    }
    &__details {
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        align-items: center;
        color: $primary-text-color;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        transition: color 250ms Stiming-function,
            fill 250ms $timing-function;

            &:hover,
            &:focus {
                color: $logo-button-text-color;
                fill: $logo-button-text-color;
                }
    }
}

@media screen and (max-width: 767px) {
    .contacts {
        display: none;
    }
}
