@mixin logoColor($color) {
  color: $color;
}

.logo {
  // display: flex;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;

  @include font(26px, 700, 1.2);

  // @media (max-width: 1199px) {
  //   justify-content: center;
  // }

  &__letters {
    @include logoColor($logo-button-text-color);
  }

  &__header {
    @include logoColor($text-color);

    @media (min-width:1200px){
      margin-right: 92px;
    }
    @media (min-width:768px) {
      margin-right: 88px;
         }

  }
  &__footer {
    @include logoColor($added-text-color);
    margin-bottom: 20px;
  }

  @media (min-width:768px) {
    display: flex;
    justify-content: center;
  }
}
