.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.section {
    padding-bottom: 94px;
    padding-top: 94px;
}

.features {
    display: flex;
    gap: 30px;

    &__title {
            margin-bottom: 10px;
            margin-top: 0;
    
            color: $secondary-text-color;
            font-weight: 700;
            line-height: 1.14;
            text-transform: uppercase;
        }
    &__icon {
            margin-bottom: 30px;
            height: 120px;
            width: 270px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $secondary-background-color;
            border-radius: 4px;
        }
}
