// Hero img for mobile
.hero {

  height: 400px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: $background-color-added;

  background-image: linear-gradient(to right, $hero-bg-overlay, $hero-bg-overlay),
    url(../images/mobile/header.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, $hero-bg-overlay, $hero-bg-overlay),
      url(../images/mobile/header@2x.jpg);
  }

  // Hero img for tablet
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, $hero-bg-overlay, $hero-bg-overlay),
      url("/images/tablet/hero-tablet.jpg");
    // min-width: 780px;
    height: 400px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, $hero-bg-overlay, $hero-bg-overlay),
        url("/images/tablet/hero-tablet@2x.jpg");
    }
  }
}

// Hero img for desktop
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    // min-width: 1600px;
    height: 600px;

    background-image: linear-gradient(to right, $hero-bg-overlay, $hero-bg-overlay),
      url("/images/desktop/hero-desk.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, $hero-bg-overlay, $hero-bg-overlay),
        url("/images/desktop/hero-desk@2x.jpg");
    }
  }
}

.hero__title {
  margin-bottom: 30px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 360px;
  color: $added-text-color;

  @include font(26px, 900, 1.36);
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
  }
}

.hero__btn {
  min-width: 200px;
  padding: 10px 24px;
  border-radius: 4px;
  border-width: 0;
  box-shadow: 0px 4px 4px $color-shadow;
  background-color: $logo-button-text-color;
  color: $added-text-color;
  font-family: inherit;

  @include font(16px, 700, 1.9);
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $active-button-color;
  }

  @media (min-width: 1200px) {
    min-width: 216px;
    padding: 10px 32px;
  }
}
