.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;

    &__input {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            clip: rect(0 0 0 0);
            overflow: hidden;
        }
    &__border {
        opacity: 1;
    }
    &__check {
            opacity: 0;
            transition: fill 250 ms $timing-function;
        }
    &__input:checked + &__icon>&__check{
        opacity: 1;
        fill: $background-color-hover;
    }
    &__input:checked + &__icon>&__border{
            opacity: 0;
        }    
}
