// vars
$primary-text-color: #757575;
$secondary-text-color: #212121;
$added-text-color: #ffffff;
$logo-button-text-color: #2196f3;
$primary-background-color: #ffffff;
$secondary-background-color: #f5f4fa;
$background-color-hover: #2196f3;
$background-color-added: #2f303a;
$text-color: #000000;
$text-color-footer: rgba(255, 255, 255, 0.6);
$active-button-color: #188ce8;
$color-shadow: rgba(0, 0, 0, 0.15);
$color-border-header: 1px solid #ececec;
$color-border-cards: 1px solid #eeeeee;
$hero-bg-overlay: rgba(47, 48, 58, 0.4);
$fill-svg-social: #afb1b8;
$portfolio-cards-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
$background-footer-social: rgba(255, 255, 255, 0.1);
$modal-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$backgroud-backdrop: rgba(0, 0, 0, 0.2);
$background-description: rgba(47, 48, 58, 0.8);
$ovelay-background-portfolio: rgba(33, 150, 243, 0.9);
$border-form-order: 1px solid rgba(33, 33, 33, 0.2);
$text-color-placeholder: rgba(117, 117, 117, 0.5);
$shadow-form-button: 0px 4px 4px rgba(0, 0, 0, 0.15);